<% layout("/layouts/boilerplate") %>
<body>
    <div class="container">
        <h3>Edit Listing</h3>
        <form action="/listings/<%=listing._id%>?_method=PUT" method="post">
            <br>
            <label for="title">Title:</label>
            <input type="text" id="title" name="Listing[title]" value="<%= listing.title %>">
            <br>
            <label for="description">Description</label>
            <input type="text" id="description" name="Listing[description]" value="<%= listing.description %>">
            <br>
            <label for="image">Image URL</label>
            <input type="text" id="image.url" name="Listing[image{url}]" value="<%= listing.image.url %>">
            <br>
            <label for="price">Price:</label>
            <input type="number" name="Listing[price]" id="price" value="<%= listing.price %>">
            <br>
            <label for="location:">Location</label>
            <input type="text" id="location" name="Listing[location]" value="<%= listing.location %>">
            <br>
            <label for="country">Country</label>
            <input type="text" id="country" name="Listing[country]" value="<%= listing.country %>">
            <br>
            <button>Add</button>
            
        </form>
    </div>
</body>